{% extends 'BinaerpilotenLigaBundle::base.html.twig' %}

{% form_theme form 'BinaerpilotenLigaBundle:Form:fields.html.twig' %}

{% block tplscript %}
	<script	src="{{ asset('bundles/binaerpilotenliga/js/jquery-sortable.js') }}"></script>
	{% include "BinaerpilotenLigaBundle:Form:dragndrop.js.html.twig" %}
{% endblock %}

{% block content %}
<h1>Filter creation</h1>
{{ form_start(form) }}

	<div>
		{{ form_errors(form) }}
		{{ form_errors(form.year) }}
		{{ form_errors(form.spieler) }}
		{{ form_errors(form.volk) }}
	</div>
	
	<h2>Die Spieler</h2>
	<div class="row">
		<div class="col-md-6">
	    <ol class="target list-group" style="min-height: 500px;">
	    	<span class="list-group-item">Gewählte Filter</span>
	    </ol>
		</div>
		
		<div class="col-md-6">
			<div class="well">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#spieler" data-toggle="tab">Spieler</a></li>
					<li><a href="#volk" data-toggle="tab">Volk</a></li>
					<li><a href="#year" data-toggle="tab">Jahr</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="spieler">
						{{ form_widget(form.spieler) }}
					</div>
					<div class="tab-pane" id="volk">	
						{{ form_widget(form.volk) }}
					</div>
					<div class="tab-pane" id="year">
						{{ form_widget(form.year) }}
					</div>	
				</div>
			</div>
		</div>
	</div>
	
{{ form_end(form) }}

{% endblock %}
