{% extends 'BinaerpilotenLigaBundle::base.html.twig' %}

{% form_theme form 'BinaerpilotenLigaBundle:Form:fields.html.twig' %}

{% block tplscript %}
	<script	src="{{ asset('bundles/binaerpilotenliga/js/jquery-sortable.js') }}"></script>
	{% include "BinaerpilotenLigaBundle:Form:dragndrop.js.html.twig" %}
{% endblock %}

{% block content %}
<h1>Filter creation</h1>
{{ form_start(form) }}
	{{ form_errors(form) }}

	<div>
		{{ form_label(form.year, "Nach Jahr:") }}
		{{ form_errors(form.year) }}
		{{ form_widget(form.year) }}
	</div>
	
	<h2>Die Spieler</h2>
	<div class="row">
		<div class="col-md-6">
	    <ol class="target list-group" style="min-height: 1000px;">
	    	<span class="list-group-item">Gewählte Filter</span>
	    </ol>
		</div>
		
		<div class="col-md-6">
			<div class="well">
				<h3>Spieler 1</h3>
				{{ form_label(form.spieler, "erster Spieler:") }}
				{{ form_errors(form.spieler) }}
				{{ form_widget(form.spieler) }}
				
				{{ form_label(form.volk, "Nach Volk:") }}
				{{ form_errors(form.volk) }}
				{{ form_widget(form.volk) }}
			</div>
			<div class="well">
				<h3>Spieler 2</h3>
				{{ form_label(form.spieler2, "zweiter Spieler:") }}
				{{ form_errors(form.spieler2) }}
				{{ form_widget(form.spieler2) }}
				
				{{ form_label(form.volk2, "Nach Volk:") }}
				{{ form_errors(form.volk2) }}
				{{ form_widget(form.volk2) }}
			</div>
		</div>
	</div>
	
{{ form_end(form) }}

{% endblock %}
