{% extends 'BinaerpilotenLigaBundle::base.html.twig' %}

{% block content %}
    <h1>Spiel list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Mission</th>
                <th>Spieler 1</th>
                <th>Youpunkte</th>
                <th>Youarmee</th>
                <th>Spieler 2</th>
                <th>Enemypunkte</th>
                <th>Enemyarmee</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.datum %}{{ entity.datum|date('d.m.Y') }}{% endif %}</td>
                <td><a href="{{ path('spiel_show', { 'id': entity.id }) }}">{{ entity.mission }}</a></td>
                <td>{{ entity.you.username }}</td>
                <td>{{ entity.youpunkte }}</td>
                <td>{{ entity.youarmee.name }}</td>
                <td>{{ entity.enemy.username }}</td>
                <td>{{ entity.enemypunkte }}</td>
                <td>{{ entity.enemyarmee.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
    </ul>
    {% endblock %}
