{% extends 'BinaerpilotenLigaBundle::base.html.twig' %}

{% block content %}
    <h1>Spiel</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Datum</th>
                <td>{{ entity.datum|date('d.m.Y') }}</td>
            </tr>
            <tr>
                <th>Mission</th>
                <td>{{ entity.mission }}</td>
            </tr>
            <tr>
                <th>Spieler</th><th>Punkte</th>
            </tr>
            <tr>
                <td>{{ entity.you.username }}</td><td>{{ entity.youpunkte }}</td>
            </tr>
            <tr>                            
                <td>{{ entity.enemy.username }}</td><td>{{ entity.enemypunkte }}</td>
            </tr>            
        </tbody>
    </table>

<ul class="record_actions">
    <li>
        <a href="{{ path('spiel') }}">Back to the list</a>
    </li>
    {% if entity.you.id == app.user.id %}
    <li>
        <a href="{{ path('spiel_edit', { 'id': entity.id }) }}">Edit</a>
    </li>
    {% endif %}
</ul>
{% endblock %}
