<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Liga</title> 
	{% block stylesheets %}
		<link href="{{ asset('bundles/binaerpilotenliga/css/bootstrap.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/binaerpilotenliga/css/custom.css') }}" rel="stylesheet">
	{% endblock %} 
	{% block javascript %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
			<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script	src="{{ asset('bundles/binaerpilotenliga/js/bootstrap.min.js') }}"></script>
	{% endblock %}
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="well">
					{% block content %}
					{% endblock %}
				</div>
			</div>
			<div class="col-md-3 navigation">
				<div class="well">
					<nav>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="{{ path('home') }}">Home</a></li>
							{% if is_granted('ROLE_USER') %}
								<li>
									<div class="btn-group primary">
										<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
											<span class="glyphicon glyphicon-chevron-left"></span> 
											{{ app.user.username }}
										</button>
										<ul class="dropdown-menu pull-right" role="menu">
											<li><a href="{{ path('fos_user_profile_show') }}">Dein Profil</a></li>
											<li><a href="{{ path('fos_user_change_password') }}">Passwort ändern</a></li>
											<li>
												<div class="btn-group secondary">
													<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
														Deine Armeen<span class="caret"></span>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li><a href="#?4">Necrons</a></li>
														<li><a href="#?3">Space-Wolfes</a></li>
														<li class="divider"></li>
														<li><a href="#?2">Neue Armee</a></li>
													</ul>
												</div>
											</li>
											<li><a href="{{ path('fos_user_security_logout',{ }) }}">Logout</a></li>
										</ul>
									</div>
								</li>
							{% else %}
								<form action="{{ path("fos_user_security_check") }}" method="post">
								    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
								
								    <label for="username">{{ 'security.login.username'|trans }}</label>
								    <input type="text" id="username" name="_username" value="" required="required" />
								
								    <label for="password">{{ 'security.login.password'|trans }}</label>
								    <input type="password" id="password" name="_password" required="required" />
								
								    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
								    <label for="remember_me">Merken</label>
								
								    <input type="submit" id="_submit" name="_submit" value="Einloggen" />
								</form>
							{% endif %}
							{% if is_granted('ROLE_ADMIN') %}
							<li><a href="#">Admin</a></li>
							{% endif %}
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	</div>

</body>
</html>
