{% extends 'BinaerpilotenLigaBundle::base.html.twig' %}

{% block content %}
    <h1>Armee</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Volk</th>
                <td>{{ entity.volk }}</td>
            </tr>
            <tr>
                <th>Beschreibung</th>
                <td>{{ entity.beschreibung }}</td>
            </tr>
            <tr>
                <th>Spieler</th>
                <td>{{ entity.user }}</td>
            </tr>
            {% set total = entity.win+entity.loss+entity.even %}
            {% if total != 0 %}
	            <tr>
				          <style type="text/css">
										{{ globalStandingBar(entity.id,(100 * entity.win)/total,100 - (100 * entity.loss)/total) }}
				          </style>
	                <th>Ergebnis</th>
	                <td class="standing-{{ entity.id }}">{{ entity.win }}-{{ entity.even }}-{{ entity.loss }}</td>
	            </tr>
            {% endif %}
        </tbody>
    </table>

<ul class="record_actions">
   	{% if entity.user.id == app.user.id %}
    <li>
        <a href="{{ path('armee_edit', { 'id': entity.id }) }}">Edit</a>
    </li>
    {% endif %}
</ul>
{% endblock %}
