{% extends 'BinaerpilotenLigaBundle::base.html.twig' %}

{% block content %}
    <h1>User list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Lastlogin</th>
                <th>Bewertung</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
        	{% set friend = not (entity in app.user.getFreunde) %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.vorname }}</td>
                <td>{{ entity.nachname }}</td>
                <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('d.m.Y') }}{% endif %}</td>
                <td>{{ entity.evaluateRank }}</td>
                {% if app.user.username != entity.username %}
                	<td><a href="{{ path('spiel_new', { 'name': entity.username }) }}"><span title="Neues Spiel" class="glyphicon glyphicon-screenshot"></span></td>
                	{% if friend %}<td><a href="{{ path('user_friend', { 'id': entity.id }) }}"><span title="Freund hinzufügen" class="glyphicon glyphicon-plus"></span></td>{% endif %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
