{% extends 'BinaerpilotenLigaBundle::base.html.twig' %}

{% block tplstyle %}

{% endblock %}

{% block content %}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Lastlogin</th>
                <td>{{ entity.lastLogin|date('d.m.Y') }}</td>
            </tr>
            <tr>
                <th>Vorname</th>
                <td>{{ entity.vorname }}</td>
            </tr>
            <tr>
                <th>Nachname</th>
                <td>{{ entity.nachname }}</td>
            </tr>
            {% set totalwin,totaleven,totalloss = 0,0,0 %}
            
            {% for a in entity.armeen %}
	            <tr>
	            	{% set totalwin,totaleven,totalloss  = totalwin + a.win,totaleven + a.even,totalloss + a.loss %}
		            {% set total = a.win+a.loss+a.even %}
		            {% if total != 0 %}
			            <style type="text/css">
										{{ globalStandingBar(a.id,(100 * a.win)/total,100 - (100 * a.loss)/total) }}
			            </style>
		                <th>Ergebnis ({{ a.name }})</th>
		                <td class="standing-{{ a.id }}">{{ a.win }}-{{ a.even }}-{{ a.loss }}</td>
			            </tr>
			          {% endif %}
            {% endfor %}
            <tr>
            		{% set totalall = totalwin + totaleven + totalloss %}
            		{% if totalall != 0 %}
		            <style tpye="text/css">
		            	{{ globalStandingBar("total",(100 * totalwin)/totalall,100 - (100 * totalloss)/totalall) }}
								</style>
		            <th>Ergebnis (insgesamt)</th>
		            <td class="standing-total">{{ totalwin }}-{{ totaleven }}-{{ totalloss }}</td>
	            {% endif %}
		        </tr>
		        <tr>
		        	<th>evaluate: </th>
		        	<td>{{ entity.evaluateRank }}</td>
		        </tr>
        </tbody>
    </table>

	
<ul class="record_actions">
{% if app.user.id == entity.id %}
	<li><a href="{{ path('fos_user_profile_edit') }}">Daten ändern</a><br/></li>
	<li><a href="{{ path('fos_user_change_password') }}">Passwort ändern</a></li>
{% endif %}
  <li><a href="{{ path('user') }}">Back to the list</a></li>
</ul>
{% endblock %}
