

<div class="fos_user_user_show">
	<table>
		<tr><td>Benutzername: </td><td>{{ user.username }}</td></tr>
		<tr><td>Email: </td><td>{{ user.email }}</td></tr>
		<tr><td>Vorname: </td><td>{{ user.vorname }}</td></tr>
		<tr><td>Nachname: </td><td>{{ user.nachname }}</td></tr>
		<tr><td>Ergebnis: </td><td class="standing">{{ user.win }}-{{ user.even }}-{{ user.loss }}</td></tr>
	</table>
	
</div>
